[Desktop Entry]
Name=Pimo text match plugin
Name[uk]=Додаток пошуку тексту Pimo
Comment=Scribo text match plugin which simply tries to match words in the text to Pimo things in Nepomuk
Comment[uk]=Додаток пошуку тексту Scribo, який просто намагається порівнювати слова у тексті з елементами Pimo у Nepomuk
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_pimotextmatchplugin

X-KDE-PluginInfo-Name=scribo_pimotextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
