[Desktop Entry]
Name=Pimo text match plugin
Name[et]=PIMO tekstivastavuse plugin
Name[fr]=Module externe de correspondance de texte de Pimo
Name[gl]=Engadido de procura de texto Pimo
Name[hu]=Pimo szövegilleszkedés bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Pimo
Name[nb]=Pimo-modul for tekst-treff
Name[nds]=Pimo-Textsöökmoduul
Name[nl]=Plugin voor Pimo-tekst overeenkomst
Name[pl]=Wtyczka pasowania tekstu Pimo
Name[pt]='Plugin' de correspondência de texto do Pimo
Name[pt_BR]=Plugin de correspondência de texto do PIMO
Name[sv]=Pimo insticksprogram för textmatchning
Name[uk]=Додаток пошуку тексту Pimo
Name[x-test]=xxPimo text match pluginxx
Comment=Scribo text match plugin which simply tries to match words in the text to Pimo things in Nepomuk
Comment[et]=Scribo tekstivastavuse plugin, mis lihtsalt püüab seada tekstis esinevad sõnad vastavusse Nepomuki PIMO asjadega
Comment[fr]=Module externe de correspondance de texte Scribo qui tente simplement d'apparier des mots du texte avec des éléments Pimo dans Nepomuk
Comment[gl]=Engadido de procura de texto que simplemente intenta cadrar as palabras do texto con elementos de Pimo en Nepomuk
Comment[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Scribo ដែល​ព្យាយាម​ផ្គូផ្គង​ពាក្យ​នៅ​ក្នុង​អត្ថបទ​ជាមួយ​វត្ថុ Pimo នៅ​ក្នុង Nepomuk
Comment[nb]=Scribo-modul for tekst-treff som bare forsøker å avstemme ord i teksten med Pimo-saker i Nepomuk
Comment[nds]=En Scribo-Textsöökmoduul, dat eenfach Wöör binnen den Text mit Pimo-Dinger binnen Nepomuk vergliekt.
Comment[nl]=Plugin voor tekstovereenkomst die eenvoudig woorden uit de tekst probeert overeen te laten komen met Pimo-zaken in Nepomuk
Comment[pl]=Wtyczka pasowania tekstu Scribo, która po prostu próbuje dopasować słowa w tekście do rzeczy Pimo w Nepomuku
Comment[pt]='Plugin' de correspondência de texto do Scibo que tenta simplesmente corresponder as palavras no texto a itens do Pimo no Nepomuk
Comment[pt_BR]=Um plugin de correspondência de texto do Scribo que tenta simplesmente fazer a correspondência de palavras no texto a itens do PIMO no Nepomuk
Comment[sv]=Insticksprogram till Scribo för textmatchning som helt enkelt försöker matcha ord i texten med Pimo-saker i Nepomuk
Comment[uk]=Додаток пошуку тексту Scribo, який просто намагається порівнювати слова у тексті з елементами Pimo у Nepomuk
Comment[x-test]=xxScribo text match plugin which simply tries to match words in the text to Pimo things in Nepomukxx
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_pimotextmatchplugin

X-KDE-PluginInfo-Name=scribo_pimotextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
