[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukscriboservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Scribo Service
Name[bs]=Servis Scribo Nepomuka
Name[cs]=Služba Nepomuk Scribo
Name[de]=Nepomuk-Scribo-Dienst
Name[es]=Servicio Scribo de Nepomuk
Name[fr]=Service Scribo pour Nepomuk
Name[ga]=Seirbhís Scribo Nepomuk
Name[gl]=Servizo Scribo de Nepomuk
Name[hu]=Nepomuk Scribo szolgáltatás
Name[km]=សេវាកម្ម Nepomuk Scribo
Name[ko]=Nepomuk Scribo 서비스
Name[mr]=निपोमुक स्क्रीबो सेवा
Name[nb]=Nepomuk Scribo-tjeneste
Name[nl]=Nepomuk Scribo-service
Name[pl]=Usługa Nepomuk Scribo
Name[pt]=Serviço de Scribo para o Nepomuk
Name[pt_BR]=Serviço Scribo do Nepomuk
Name[sk]=Služba Nepomuk Scribo
Name[sv]=Nepomuk Scribo-tjänst
Name[tr]=Nepomuk Scribo Hizmeti
Name[uk]=Служба Scribo Nepomuk
Name[x-test]=xxNepomuk Scribo Servicexx
Comment=The Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.
Comment[bs]=Nepomuk Scribo servis pruza jednostavni interfejs ka Scribo  NLP objekatu
Comment[de]=Dieser Dienst stellt ein einfache Schnittstelle für die NLP-Funktionen von Scribo bereit.
Comment[es]=El servicio Scribo de Nepomuk ofrece un interfaz sencillo para el uso de las capacidades de procesamiento de lenguaje natural (NPL) de Scribo 
Comment[fr]=Le service Scribo pour Nepomuk offre une interface simple pour les fonctions de « NLP » de Scribo.
Comment[gl]=O servizo de Scribo de Nepomuk fornece unha interface sinxela para as capacidade de NLP de Scribo.
Comment[km]=សេវាកម្ម Nepomuk Scribo ដាក់​ស្នើ​ចំណុចប្រទាក់​ធម្មតា​ទៅ​កាន់​សម្ភារៈ Scribo's NLP ។
Comment[ko]=Nepomuk Scribo 서비스는 Scribo의 자연 언어 처리 기능 인터페이스를 제공합니다.
Comment[nb]=Nepomuk Scribo-tjenesten tilbyr et enkelt grensesnitt til Scribos NLP-muligheter.
Comment[nl]=De Nepomuk Scribo-service biedt een eenvoudig interface tot de NLP-faciliteiten van Scribo.
Comment[pl]=Usługa Nepomuk Scribo oferuje prosty interfejs udogodnieniom Scribo NLP.
Comment[pt]=O serviço de Scribo fornece uma interface simples para as funcionalidades de NLP do Scribo.
Comment[pt_BR]=O serviço do Scribo para o Nepomuk oferece uma interface simples para as funcionalidades de NLP do Scribo.
Comment[sk]=Služba Nepomuk Scribo ponúka jednoduché rozhranie pre možnosti Scribo NLP.
Comment[sv]=Nepomuk Scribo-tjänst erbjuder ett enkelt gränssnitt för Scribos NLP-funktioner.
Comment[tr]=Nepomuk Scribo hizmeti, Scribo'nun NLP özelliklerine sade bir arayüz sunar.
Comment[uk]=Служба Scribo Nepomuk — це простий інтерфейс до можливостей обробки даних природною мовою Scribo.
Comment[x-test]=xxThe Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.xx
