[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukscriboservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Scribo Service
Name[sv]=Nepomuk Scribo-tjänst
Name[uk]=Служба Scribo Nepomuk
Name[x-test]=xxNepomuk Scribo Servicexx
Comment=The Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.
Comment[sv]=Nepomuks Scribo-tjänst erbjuder ett enkelt gränssnitt till Scribos NLP-faciliteter.
Comment[uk]=Служба Scribo Nepomuk — це простий інтерфейс до можливостей обробки даних природною мовою Scribo.
Comment[x-test]=xxThe Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.xx
