[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukscriboservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Scribo Service
Name[cs]=Služba Nepomuk Scribo
Name[nl]=Nepomuk Scribo-service
Name[pt]=Serviço de Scribo para o Nepomuk
Name[uk]=Служба Scribo Nepomuk
Name[x-test]=xxNepomuk Scribo Servicexx
Comment=The Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.
Comment[pt]=O serviço de Scribo fornece uma interface simples para as funcionalidades de NLP do Scribo.
Comment[uk]=Служба Scribo Nepomuk — це простий інтерфейс до можливостей обробки даних природною мовою Scribo.
Comment[x-test]=xxThe Nepomuk Scribo service offers a simple interface to Scribo's NLP facilities.xx
