[Desktop Entry]
Name=Datetime text match plugin
Name[et]=Kuupäeva ja kellaaja tekstivastavuse plugin
Name[fr]=Module externe de correspondance de dates et heures dans un texte
Name[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ​កាលបរិច្ឆេទ និង​ពេលវេលា
Name[nb]=Modul for treff på dato-tidstekst
Name[nds]=Datum- un Tietsöökmoduul
Name[nl]=Plugin voor datumtijd-tekst overeenkomst
Name[pl]=Wtyczka pasowania tekstu Datetime
Name[pt]='Plugin' de correspondência de datas/horas
Name[pt_BR]=Plug-in de correspondência de texto de datas/horas
Name[sv]=Insticksprogram för textmatchning av datum och tid
Name[uk]=Додаток пошуку тексту дати і часу
Name[x-test]=xxDatetime text match pluginxx
Comment=Scribo text match plugin which extracts dates and times from the text and presents them as simple statements
Comment[et]=Scribo tekstivastavuse plugin, mis hangib tekstist kuupäevad ja kellaajad ning esitab need lihtavaldistena
Comment[fr]=Module externe de correspondance de texte Scribo qui extrait des dates et heures depuis le texte et les présente sous forme d'instructions simples
Comment[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Scribo ដែល​ស្រង់​កាល​បរិច្ឆេទ និង​ពេលវេលា​ចេញពី​អត្ថបទ និង​បង្ហាញ​វា​ជា​សេចក្ដី​ថ្លែងការណ៍​ធម្មតា
Comment[nb]=Scribo-modul for tekst-treff som trekker ut datoer og klokkeslett fra teksten og presenterer dem som enkle utsagn
Comment[nds]=Dat Scribo-Textsöökmoduul söcht Daten un Tieden binnen den Text un stellt de as eenfach Utsagen dor
Comment[nl]=Plugin voor Scribo-tekst overeenkomst die datums en tijden uit de tekst haalt en ze las eenvoudige statement laat zien
Comment[pl]=Wtyczka pasowania tekstu Scribo, która wydobywa daty i czasy z teksu i przedstawia je jako proste zdania
Comment[pt]='Plugin' de correspondência de texto do Scribo que extrai datas e horas do texto e as apresenta como frases simples
Comment[pt_BR]=Um plug-in de correspondência de texto do Scribo que extrai as datas e horas do texto e apresenta-as como frases simples
Comment[sv]=Insticksprogram till Scribo som extraherar datum och tider från texten och visar dem som enkla satser
Comment[uk]=Додаток пошуку тексту Scribo, який видобуває дані про дату і час з тексту і представляє їх як прості записи
Comment[x-test]=xxScribo text match plugin which extracts dates and times from the text and presents them as simple statementsxx
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_datetimetextmatchplugin

X-KDE-PluginInfo-Name=scribo_datetimetextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
