[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Scribo/TextMatchPlugin

Comment=Scribo text match plugin
Comment[bs]=Scribo tekst oznacavacki dodatak
Comment[de]=Scribo-Textübereinstimmungs-Modul
Comment[et]=Scribo tekstivastavuse plugin
Comment[fr]=Module externe Scribo de correspondance de texte
Comment[gl]=Engadido de procura de texto Scribo
Comment[hu]=Scribo szövegilleszkedés bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Scribo
Comment[ko]=Scribo 텍스트 일치 플러그인
Comment[mr]=स्क्रीबो मजकूर जुळवणी प्लगइन
Comment[nb]=Scribo-modul for tekst-treff
Comment[nds]=Scribo-Textsöökmoduul
Comment[nl]=Plugin voor Scribo-tekst overeenkomst
Comment[pl]=Wtyczka pasowania tekstu Scribo
Comment[pt]='Plugin' de correspondência de texto do Scribo
Comment[pt_BR]=Plugin de correspondência de texto do Scribo
Comment[sk]=Plugin zhody textu Scribo
Comment[sv]=Insticksprogram till Scribo för textmatchning
Comment[tr]=Scribo metin eşleştirme eklentisi
Comment[uk]=Додаток пошуку тексту Scribo
Comment[x-test]=xxScribo text match pluginxx
