[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Scribo/TextMatchPlugin

Comment=Scribo text match plugin
Comment[et]=Scribo tekstivastavuse plugin
Comment[km]= 
Comment[nds]=Scribo-Textsöökmoduul
Comment[nl]=Plugin voor Scribo-tekst overeenkomst
Comment[pt]='Plugin' de correspondência de texto do Scribo
Comment[pt_BR]=Plug-in de correspondência de texto do Scribo
Comment[sv]=Insticksprogram till Scribo för textmatchning
Comment[uk]=Додаток пошуку тексту Scribo
Comment[x-test]=xxScribo text match pluginxx
