[Desktop Entry]
Exec=kcmshell4 kcm_kopencalais
Icon=nepomuk
Type=Service
Name=Open Calais
Name[de]=Open Calais
Name[es]=Open Calais
Name[et]=Open Calais
Name[fr]=Open Calais
Name[hu]=Calais megnyitása
Name[km]=បើក Calais
Name[nb]=Open Calais
Name[nds]=OpenCalais
Name[nl]=Open Calais
Name[pl]=Otwórz Calais
Name[pt]=Open Calais
Name[pt_BR]=Open Calais
Name[sv]=Open Calais
Name[uk]=Open Calais
Name[x-test]=xxOpen Calaisxx
Comment=Configure the Open Calais Scribo plugin
Comment[et]=Open Calais' Scribo plugina seadistamine
Comment[fr]=Configure le module externe Open Calais pour Scribo
Comment[hu]=Az Open Calais Scribo bővítmény beállítása
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ​បើក Calais Scribo
Comment[nb]=Sett opp Scribo-modul for Open Calais
Comment[nds]=Dat Scribo-Moduul "Open Calais" instellen
Comment[nl]=De Open Calais Scribo-plugin instellen
Comment[pl]=Konfiguruj wtyczkę Open Calais Scribo
Comment[pt]=Configurar o 'plugin' de Open Calais do Scribo
Comment[pt_BR]=Configura o plugin do Scribo para o Open Calais
Comment[sv]=Anpassa insticksprogrammet Open Calais för Scribo
Comment[uk]=Налаштувати додаток Scribo Open Calais
Comment[x-test]=xxConfigure the Open Calais Scribo pluginxx

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kopencalais
X-KDE-ParentComponents=scribo_opencalaistextmatchplugin
X-KDE-PluginInfo-Name=kcm_kopencalais
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
