[Desktop Entry]
Name=OpenCalais text match plugin
Name[uk]=Додаток пошуку тексту OpenCalais
Comment=Scribo text match plugin which uses the OpenCalais web service to analyse text and extract entities and statements
Comment[uk]=Додаток пошуку тексту Scribo, який використовує службу OpenCalais для аналізу тексту і видобування категорій і записів
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_opencalaistextmatchplugin

X-KDE-PluginInfo-Name=scribo_opencalaistextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
