[Desktop Entry]
Name=OpenCalais text match plugin
Name[bs]=Dodatak OpenCalais za prepoznavanje teksta
Name[de]=Textübereinstimmungs-Modul für „Open Calais“
Name[et]=OpenCalais' tekstivastavuse plugin
Name[fr]=Module externe « Open Calais » de correspondance de texte
Name[gl]=Engadido de procura de texto OpenCalais
Name[hu]=OpenCalais szövegilleszkedés bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ OpenCalais
Name[ko]=OpenCalais 텍스트 일치 플러그인
Name[mr]=ओपन कालैस  मजकूर जुळवणी प्लगइन
Name[nb]=Modul for tekst-treff i Open Calais
Name[nds]=OpenCalais-Textsöökmoduul
Name[nl]=Plugin voor OpenCalais-tekst overeenkomst
Name[pl]=Wtyczka pasowania tekstu OpenCalais
Name[pt]='Plugin' de correspondência de texto do Open Calais
Name[pt_BR]=Plugin de correspondência de texto do OpenCalais
Name[sk]=Plugin zhody textu OpenCalais
Name[sv]=Open Calais insticksprogram för textmatchning
Name[tr]=OpenCalais metin eşleştirme eklentisi
Name[uk]=Додаток пошуку тексту OpenCalais
Name[x-test]=xxOpenCalais text match pluginxx
Comment=Scribo text match plugin which uses the OpenCalais web service to analyse text and extract entities and statements
Comment[bs]=Scribo tekst oznacavacki  dodatak koji koristi  OpenCalais  web servis kako bi anlizirao tekst i ekstraktovo  izjave
Comment[de]=Dieses Modul verwendet den OpenCalais-Webdienst zur Analyse von Text und extrahiert Entitäten und Aussagen
Comment[et]=Scribo tekstivastavuse plugin, mis kasutab teksti analüüsimiseks OpenCalais' veebiteenust ning hangib olemid ja avaldised
Comment[fr]=Module externe Scribo de correspondance de texte utilisant le service Web « OpenCalais » pour analyser du texte et extraire des entités et des instructions
Comment[gl]=O engadido de procura de texto Scribo usa o servizo web OpenCalais para analizar texto e extraer entidades e definicións
Comment[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Scribo text match plugin ដែល​ប្រើ​សេវាកម្ម​បណ្ដាញ OpenCalais ដើម្បី​វិភាគ​អត្ថបទ ស្រង់​ធាតុ និង​សេចក្ដី​ថ្លែងការណ៍
Comment[ko]=OpenCalais 웹 서비스에서 텍스트를 분석하여 엔티티와 구문을 표시하는 Scribo 텍스트 일치 플러그인
Comment[nb]=Scribo-modul for tekst-treff som bruker vevtjenesten OpenCalais for å analysere tekst og trekke ut entiteter og utsagn
Comment[nds]=Dat Scribo-Textsöökmoduul, dat den Nettdeenst "OpenCalais" för't Ünnersöken vun Text un Ruttrecken vun Eenheiten un Utsagen bruukt.
Comment[nl]=Plugin voor tekstovereenkomst die de OpenCalais webservice gebruikt om tekst te analyseren en entiteiten en statements er uit te lichten
Comment[pl]=Wtyczka pasowania tekstu Scribo, która używa usługi sieciowej OpenCalais do analizy tekstu i wydobywania osób i zdań
Comment[pt]='Plugin' de correspondência de texto do Scribo que usa o serviço da Web OpenCalais para analisar o texto e extrair entidades e frases
Comment[pt_BR]=Um plugin de correspondência de texto do Scribo que usa o serviço Web OpenCalais para analisar o texto e extrair as entidades e frases
Comment[sk]=Plugin zhody textu Scribo, ktorý používa webovú službu OpenCalais na analýzu textu a extrahovanie entít a vyhlásení
Comment[sv]=Insticksprogram till Scribo för textmatchning som använder webbtjänsten Open Calais för att analysera texten och extrahera enheter och satser
Comment[tr]=Metni inceleyip, girdileri ve ifadeleri çıkarmak için OpenCalais web hizmetini kullanan metin eşleştirme eklentisi
Comment[uk]=Додаток пошуку тексту Scribo, який використовує службу OpenCalais для аналізу тексту і видобування категорій і записів
Comment[x-test]=xxScribo text match plugin which uses the OpenCalais web service to analyse text and extract entities and statementsxx
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_opencalaistextmatchplugin

X-KDE-PluginInfo-Name=scribo_opencalaistextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
