[Desktop Entry]
Name=OpenCalais text match plugin
Name[et]=OpenCalais' tekstivastavuse plugin
Name[fr]=Module externe de correspondance de texte Open Calais
Name[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ OpenCalais
Name[nds]=OpenCalais-Textsöökmoduul
Name[nl]=Plugin voor OpenCalais-tekst overeenkomst
Name[pl]=Wtyczka pasowania tekstu OpenCalais
Name[pt]='Plugin' de correspondência de texto do Open Calais
Name[pt_BR]=Plug-in de correspondência de texto do OpenCalais
Name[sv]=Open Calais insticksprogram för textmatchning
Name[uk]=Додаток пошуку тексту OpenCalais
Name[x-test]=xxOpenCalais text match pluginxx
Comment=Scribo text match plugin which uses the OpenCalais web service to analyse text and extract entities and statements
Comment[et]=Scribo tekstivastavuse plugin, mis kasutab teksti analüüsimiseks OpenCalais' veebiteenust ning hangib olemid ja avaldised
Comment[fr]=Module externe de correspondance de texte Scribo qui utilise le service web OpenCalais pour analyser du texte et extraire des entités et des instructions
Comment[km]=កម្មវិធី​ជំនួយ​ផ្គូផ្គង​អត្ថបទ Scribo text match plugin ដែល​ប្រើ​សេវាកម្ម​បណ្ដាញ OpenCalais ដើម្បី​វិភាគ​អត្ថបទ ស្រង់​ធាតុ និង​សេចក្ដី​ថ្លែងការណ៍
Comment[nds]=Dat Scribo-Textsöökmoduul, dat den Nettdeenst "OpenCalais" för't Ünnersöken vun Text un Ruttrecken vun Eenheiten un Utsagen bruukt.
Comment[nl]=Plugin voor tekstovereenkomst die de OpenCalais webservice gebruikt om tekst te analyseren en entiteiten en statements er uit te lichten
Comment[pl]=Wtyczka pasowania tekstu Scribo, która używa usługi sieciowej OpenCalais do analizy tekstu i wydobywania osób i zdań
Comment[pt]='Plugin' de correspondência de texto do Scribo que usa o serviço da Web OpenCalais para analisar o texto e extrair entidades e frases
Comment[pt_BR]=Um plug-in de correspondência de texto do Scribo que usa o serviço Web OpenCalais para analisar o texto e extrair as entidades e frases
Comment[sv]=Insticksprogram till Scribo för textmatchning som använder webbtjänsten Open Calais för att analysera texten och extrahera enheter och satser
Comment[uk]=Додаток пошуку тексту Scribo, який використовує службу OpenCalais для аналізу тексту і видобування категорій і записів
Comment[x-test]=xxScribo text match plugin which uses the OpenCalais web service to analyse text and extract entities and statementsxx
X-KDE-ServiceTypes=Scribo/TextMatchPlugin
Type=Service
X-KDE-Library=scribo_opencalaistextmatchplugin

X-KDE-PluginInfo-Name=scribo_opencalaistextmatchplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
